body {
    background: lightblue;
}

h2 {
text-align: center;
color: blue;
}

.verde {
    color: green;
}

.centrado {
    text-align: center;
}

#subtitulo {
    text-align: right;
    color: white;
}